// Colors
$white : #fff;
$black:#08131B;
$primary-color:#002947;
$score-bg:rgba(255, 255, 255, 0.3);
$bg-credit:#024b5c;
$bg-secondary:rgba(0, 0, 0, 0.3);
$color-orange:#e47c29;

// footer
$bg-notification:#ff5454;
$notification-border:#993232;

// table colors
$table-header:#e4e4e4;
$table-headfont:#474747;
$country-color:#5e7484;
$select-bg:#e6edef;

// Fonts
$primary-font:'Archivo-Regular',sans-serif;
$medium-font:'Archivo-Medium',sans-serif;
$semibold-font:'Archivo-SemiBold',sans-serif;
$bold-font:'Archivo-Bold',sans-serif;